.notification_list {
    position: absolute;
    z-index: 1337;
}

.notification {
    background-color: #7b3434;
    color: white;
    margin: 0.5em;
    padding: 1em;
    border-radius: 0.5em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .12), 0 2px 4px 0 rgba(0, 0, 0, .08);
}

.notification_body {
}

.notification_title {
    font-size: large;
}
