@keyframes example {
	0%   {
		transform: rotate3d(0, 1, 0, 90deg);
		background-image: url(/static/penguin1.svg);
	}
	24.99% {
		transform: rotate3d(0, 1, 0, 270deg);
		background-image: url(/static/penguin1.svg);
	}
	25% {
		transform: rotate3d(0, 1, 0, 270deg);
		background-image: url(/static/penguin2.svg);
	}
	49.99% {
		transform: rotate3d(0, 1, 0, 450deg);
		background-image: url(/static/penguin2.svg);
	}
	50% {
		transform: rotate3d(0, 1, 0, 450deg);
		background-image: url(/static/penguin3.svg);
	}
	74.99% {
		transform: rotate3d(0, 1, 0, 630deg);
		background-image: url(/static/penguin3.svg);
	}
	75% {
		transform: rotate3d(0, 1, 0, 630deg);
		background-image: url(/static/penguin2.svg);
	}
	99.99% {
		transform: rotate3d(0, 1, 0, 810deg);
		background-image: url(/static/penguin2.svg);
	}
	100% {
		transform: rotate3d(0, 1, 0, 810deg);
		background-image: url(/static/penguin1.svg);
	}
}

.penguin {
	width: 12em;
	height: 12em;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/static/penguin1.svg);
	background-size: contain;
	animation-name: example;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(0, 0.5, 1, 0.5);
}
