body {
	font-family: Ubuntu;
}

.header {
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
	width: 100%;
	background-color: #000;
	z-index: 69;
}

.header_link_box {
	display: flex;
	flex-direction: row;
	overflow-x: scroll;
}

.header_link {
	font-weight: bold;
	font-size: larger;
	color: #eee;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0.5rem;
	margin-left: 0.5rem;
	text-shadow: 0 0 0;
	transition: all 0.2s linear;
}

.header_link:hover {
	color: #fff;
	text-shadow: 0 0 2px;
	transition: all 0.2s linear;
}

.border_on_focus {
	border: 0.2rem solid rgba(0, 0, 0, 0);
}

.border_on_focus:focus {
	border: 0.2rem solid blue;
}

.not_found_message {
	text-align: center;
	font-size: 12rem;
}

.login-box-visible {
	transform: scaleX(1);
	transform-origin: right;
	opacity: 1;
	overflow: hidden;
	transition: all 0.5s ease;

}

.login-box-hidden {
	transform: scaleX(0);
	transform-origin: right;
	opacity: 0;
	overflow: hidden;
	transition: all 0.5s ease;
}

.accounting_page {
	font-family: 'Ubuntu';
	font-size: 2rem;
}

.transactions_page {
	display: flex;
	flex-direction: row;
}

.deposit_page {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap-reverse;
}

.store_page {
	padding-top: 1rem;
	padding-left: 2rem;
	padding-right: 2rem;

	display: grid;
	grid-template-columns: 1fr 24rem;
	grid-template-rows: auto 1fr;
	grid-template-areas:
		"store_top_box new_transaction"
		"inventory new_transaction";
	grid-column-gap: 1rem;
	grid-row-gap: 0;
}

.store_top_box {
	grid-area: store_top_box;
	justify-self: center;
	display: flex;
	flex: 0 0 auto;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	padding-left: 10%;
	padding-right: 10%;
}

.pay_method_select_box {
	display: flex;
	flex: 0 0 auto;
	flex-direction: column;
	font-size: 24px;
	max-width: calc(100% - 2em);

}

.transactions_list {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.balance_sheet {
	display: inline-flex;
	flex-direction: column;
}

.balance_entry {
	font-size: 20px;
	display: flex;
	border-bottom: dotted black thin;
}

.new_member_view {
	display: flex;
	flex-direction: column;
	justify-self: center;
	max-width: 30em;
	margin-left: auto;
	margin-right: auto;
}

.new_transaction_view {
	grid-area: new_transaction;
	display: flex;
	flex: 0 0 auto;
	flex-direction: column;
	font-family: 'Ubuntu Mono', monospace;
	font-size: 24px;
	border-left: dotted black;
	padding-left: 1rem;
}

.inventory_view {
	grid-area: inventory;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

@media only screen and (max-width: 945px) {
	.store_page {
		grid-template-columns: 1fr;
		grid-template-rows: auto auto 1fr;
		grid-template-areas:
			"store_top_box"
			"inventory"
			"new_transaction";
		grid-column-gap: 1rem;
		grid-row-gap: 0;
	}

	.store_page {
		padding: 0
	}

	.store_top_box {
		padding-left: 0;
		padding-right: 0;
		box-shadow: 0 0 0.2em;
		z-index: 1;
	}

	.inventory_view {
		max-height: calc(100vh - 19rem);
		min-height: 20rem;
		overflow-y: scroll;
	}

	.new_transaction_view {
		border-left: none;
		box-shadow: 0 0 0.2em;
		padding-left: 0;
		z-index: 1;
	}
}

.select_debit_button {
	color: white;
	background-color: #9eb1a6;
	box-shadow: 0 0 8px 0 rgba(0, 0, 0, .12), 0 0 4px 0 rgba(0, 0, 0, .08);
	padding-top: .5rem;
	padding-bottom: .5rem;
	font-weight: 700;
	cursor: pointer;
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	flex-grow: 1;
}

.select_debit_button:hover {
	background-color: #aec2b6;
}

.tillgodolista_search_field {
	width: 100%;
	text-align: center;
	background-color: #9eb1a6;
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
	height: 3rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	font-size: 24px;
}

.tillgodolista_search_field::placeholder {
	color: #ffffff;
	font-weight: 700;
	opacity: 1;
}

.debit_selected {
	background-color: #d69e2e;
}

.debit_selected:hover {
	background-color: #e6ad3c;
}

.tillgodo_drop_down {
	display: block;
	position: absolute;
	max-height: 36rem;
	overflow-y: scroll;
	scrollbar-width: none;
	background-color: #fff;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.tillgodo_list {
	width: 24rem;
	display: flex;
	flex-direction: column;
}

.tillgodo_entry {
	display: grid;
	grid-template-columns: 1fr 1fr 5rem;
	grid-template-rows: repeat(2, 1fr);
	grid-column-gap: 0.3rem;
	grid-row-gap: 0.3rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	text-align: center;

	transition: all 0.2s linear;
	opacity: 1;
}
.tillgodo_entry:hover {
	transition: all 0.2s linear;
	opacity: 0.7;
}
.tillgodo_nick {
	grid-area: 1 / 1 / 2 / 3;
	border-bottom: dashed black 2px;
}

.tillgodo_name { grid-area: 2 / 1 / 3 / 3; }

.tillgodo_money {
	grid-area: 1 / 3 / 3 / 4;
	justify-content: center;
	display: flex;
	flex-direction: column;
	background-color: #f0f0f0;
	border-radius: 2em;
}

.tillgodo_money_angry {
    background-color: #ff2222;
    color: #ffffff;
}

.inventory_search_field {
	flex-grow: 1;
	align-self: center;
	margin: 1rem;
	background-color: #858b91;
	color: white;
	height: 3rem;
	border-radius: 0.25rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

.inventory_search_field::placeholder {
    color: #f0f0f0;
    opacity: 1;
    font-style: italic;
}

.inventory_item {
	width: 16rem;
	margin: 1rem;
	border: solid #000000 0.15rem;
	border-radius: 0.5rem;
	background-color: #ececec;
	cursor: pointer;
}

.inventory_item:not(hover) {
	transform: scale(1);
	box-shadow: 0.2em 0.2em 1.5em -1em;
	transition-property: transform, box-shadow;
	transition-duration: 0.5s;
}

.inventory_item:hover {
	transform: scale(1.05);
	box-shadow: 0.25em 0.25em 2em -1em;
	transition-property: transform, box-shadow;
	transition-duration: 0.5s;
}

.inventory_item:active {
	transform: scale(0.9) rotate(5deg);
	box-shadow: 0 0;
	transition-property: transform, box-shadow;
	transition-duration: 0.05s;
	transition-timing-function: linear;
}

.inventory_item_header {
	padding: 0.25rem;
	color: #ffffff;
	background-color: #092656;
	border-top-left-radius: 0.3rem;
	border-top-right-radius: 0.3rem;
}

.inventory_item_footer {
	padding: 0.25rem;
	color: #ffffff;
	background-color: #55560b;
	text-align: right;
	border-bottom-left-radius: 0.3rem;
	border-bottom-right-radius: 0.3rem;
}

.inventory_item_footer_green {
	background-color: #216d05;
}
.inventory_item_footer_yellow {
	background-color: #6d5d05;
}
.inventory_item_footer_red {
	background-color: #6d0505;
}

.transaction_view {
	width: 24rem;
	display: flex;
	flex: 0 0 auto;
	flex-direction: column;
	margin-top: 2rem;
	font-family: 'Ubuntu Mono', monospace;
	font-size: 24px;
	align-self: center;
	border-bottom: solid black;
}

.transactions_page_button_box {
	margin-left: auto;
	margin-right: auto;
}

.transactions_page_show_delete {
	background-color: #fdc;
	padding: 0.2rem;
	border-radius: 0.2rem;
	font-size: 1.2rem;
	font-family: 'Ubuntu';
}

.transactions_page_export_button {
	background-color: #fffd74;
	padding: 0.2rem;
	border-radius: 0.2rem;
	font-size: 1.2rem;
	font-family: 'Ubuntu';
}

.transaction_view_delete_button {
	float: right;
	border: black solid thin;
	border-radius: 0.2rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	background-color: red;
	color: white;
}

.new_transaction_bundle_amount_field {
	width: 3rem;
	text-align: right;
}

.new_transaction_total_field {
}

.wide_button {
	color: white;
	background-color: #1f9d55;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .12), 0 2px 4px 0 rgba(0, 0, 0, .08);
	padding-top: .5rem;
	padding-bottom: .5rem;
	font-weight: 700;
	border-radius: .25rem;
	cursor: pointer;
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	width: 100%;
}

.wide_button:hover {
	background-color: #25bd64;
}

.wide_button:disabled {
	background-color: #8ecda9;
}

@keyframes slide_down {
	0% {
		transform: translateY(-2em);
	}
	100% {
		transform: translateY(0);
	}
}

.wide_button_message {
	color: white;
	background-color: #ff7800;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .12), 0 2px 4px 0 rgba(0, 0, 0, .08);
	padding-top: .5rem;
	padding-bottom: .5rem;
	font-weight: 700;
	border-radius: .25rem;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	font-family: inherit;
	font-size: 100%;
	text-align: center;
	line-height: 1.15;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	z-index: -1;

	animation: 1s ease-out 0s 1 slide_down;
}

@keyframes width_slide_in {
	0% {
		max-width: 0;
	}
	100% {
		max-width: 100%;
	}
}


.parsed_input {
	display: inline-block;
	padding-bottom: 0.8em;
}

.parsed_input_text {
	border-bottom: solid 2px black;
	width: 100%;
}

.parsed_input_error {
	font-family: Ubuntu;
	position: absolute;
	font-size: 0.6em;
	color: red;
	font-style: italic;
	margin-top: -0.15em;
	padding-left: 0.5em;
	overflow: hidden;
	white-space: nowrap;
	animation: 2s ease-out 0s 1 width_slide_in;
}

.text_center {
	text-align: center;
}

.transaction_entry {
	margin-bottom: 0.3rem;
	border-bottom: #000000 dotted thin;
}

.transaction_entry_item_name {
}

.transaction_entry_item_price {
	float: right;
}

.unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.margin_hcenter {
	margin-left: auto;
	margin-right: auto;
}

.border_highlight {
	border: dashed gold;
}

.debug_banner {
	background-image: repeating-linear-gradient(30deg, yellow, yellow 13px, #666 15px, #666 43px, yellow 45px, yellow 60px);
	font-weight: bold;
	color: red;
}

/* Hide the arrow for option tags */
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 1px;
	text-overflow: '';
}

/* Hide the spin box for number fields */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
	-moz-appearance:textfield; /* Firefox */
}

.code_box {
	font-family: 'Ubuntu Mono', monospace;
	border: solid grey;
}

.success_gif {
	width: 150px;
	height: 150px;
	position: relative;
	margin: 0 auto;
	top: 25%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .12), 0 2px 4px 0 rgba(0, 0, 0, .08);
	border-radius: 50%;
	padding: 0;
}

.success_gif_container {
	width: 100%;
	height: 100%;
	top: 0;
	position: absolute;
	left: 0;
	padding: 0;
    z-index: 150;
	background-color: rgba(0, 0, 0, 0.5);
}

