/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
@tailwind preflight;

/**
  * This injects any component classes registered by plugins.
  *
  * If using `postcss-import`, use this import instead:
  *
  * @import "tailwindcss/components";
  */
@tailwind components;

/**
  * Here you would add any of your custom component classes; stuff that you'd
  * want loaded *before* the utilities so that the utilities could still
  * override them.
  *
  * Example:
  *
  * .btn { ... }
  * .form-input { ... }
  *
  * Or if using a preprocessor or `postcss-import`:
  *
  * @import "components/buttons";
  * @import "components/forms";
  */

/**
  * This injects all of Tailwind's utility classes, generated based on your
  * config file.
  *
  * If using `postcss-import`, use this import instead:
  *
  * @import "tailwindcss/utilities";
  */
@tailwind utilities;

/**
  * Here you would add any custom utilities you need that don't come out of the
  * box with Tailwind.
  *
  * Example :
  *
  * .bg-pattern-graph-paper { ... }
  * .skew-45 { ... }
  *
  * Or if using a preprocessor or `postcss-import`:
  *
  * @import "utilities/background-patterns";
  * @import "utilities/skew-transforms";
  */

/* Example of custom class */
body {
    font-family: Ubuntu;
}

.bg-custom {
  background: url("../static/images/decoration.png") no-repeat fixed center top;
}

.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-x: scroll;
    background-color: #000;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.header_link {
    font-weight: bold;
    font-size: larger;
    color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem;
    margin-left: 0.5rem;
    text-shadow: 0 0 0;
    transition: all 0.2s linear;
}

.header_link:hover {
    color: #fff;
    text-shadow: 0 0 2px;
    transition: all 0.2s linear;
}

.not_found_message {
    text-align: center;
    font-size: 12rem;
}

.login-box-visible {
    transform: scaleX(1);
    transform-origin: right;
    opacity: 1;
    overflow: hidden;
    transition: all 0.5s ease;

}

.login-box-hidden {
    transform: scaleX(0);
    transform-origin: right;
    opacity: 0;
    overflow: hidden;
    transition: all 0.5s ease;
}

.accounting_page {
    font-family: 'Ubuntu';
    font-size: 2rem;
}

.transactions_page {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.store_page {
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;

    display: grid;
    grid-template-columns: 1fr 24rem;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "store_top_box new_transaction"
        "inventory new_transaction";
    grid-column-gap: 1rem;
    grid-row-gap: 0;
}

.store_top_box {
    grid-area: store_top_box;
    justify-self: center;
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}

.tillgodolista {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    /*font-family: 'Ubuntu Mono', monospace;*/
    font-size: 24px;
    margin-right: auto;
    margin-left: auto;
    width: 24rem;
}

.new_transaction_view {
    grid-area: new_transaction;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 24px;
    border-left: dotted black;
    padding-left: 1rem;
}

.inventory_view {
    grid-area: inventory;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media only screen and (max-width: 945px) {
    .store_page {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr; 
        grid-template-areas:
            "store_top_box"
            "inventory"
            "new_transaction";
        grid-column-gap: 1rem;
        grid-row-gap: 0;
    }

    .store_page {
        padding: 0
    }

    .store_top_box {
        padding-left: 0;
        padding-right: 0;
    }

    .inventory_view {
        max-height: calc(100vh - 19rem);
        min-height: 20rem;
        overflow-y: scroll;
    }

    .new_transaction_view {
        border-left: none;
        padding-left: 0;
    }
}

.select_debit_button {
    color: white;
    background-color: #9eb1a6;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, .12), 0 0 4px 0 rgba(0, 0, 0, .08);
    padding-top: .5rem;
    padding-bottom: .5rem;
    font-weight: 700;
    cursor: pointer;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    flex-grow: 1;
}

.select_debit_button:hover {
    background-color: #aec2b6;
}

.tillgodolista_search_field {
    width: 100%;
    text-align: center;
    background-color: #9eb1a6;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    height: 3rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.tillgodolista_search_field::placeholder {
    color: #ffffff;
    font-weight: 700;
    opacity: 1;
}

.debit_selected {
    background-color: #d69e2e;
}

.tillgodo_drop_down {
  display: block;
  position: absolute;
  background-color: #f9f9f9;
  width: 24rem;
  max-height: 36rem;
  overflow-y: scroll;
  scrollbar-width: none;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.tillgodo_entry {
    display: grid;
    grid-template-columns: 1fr 1fr 5rem;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0.3rem;
    grid-row-gap: 0.3rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: center;
    background-color: #dbfff3;
    border-top: solid black;
}
.tillgodo_nick {
    grid-area: 1 / 1 / 2 / 3;
    border-bottom: solid black 2px;
}
.tillgodo_fn { grid-area: 2 / 1 / 3 / 2; }
.tillgodo_ln { grid-area: 2 / 2 / 3 / 3; }
.tillgodo_money {
    grid-area: 1 / 3 / 3 / 4;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.inventory_search_field {
    flex-grow: 1;
    align-self: center;
    min-width: 22rem;
    margin: 1rem;
    background-color: #858b91;
    color: white;
    height: 3rem;
    border-radius: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.inventory_item, .inventory_bundle {
    width: 16rem;
    padding: 0.5rem;
    margin: 2rem;
    border-radius: 0.5rem;
}

.inventory_item_selected {
    border: dashed #8a784f 0.2rem;
}

.inventory_item {
    background-color: #64d5ca;
}

.inventory_bundle {
    background-color: #f6993f;
}

.transaction_view {
    width: 24rem;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    margin-top: 2rem;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 24px;
    align-self: center;
    border-bottom: solid black;
}

.transaction_page_show_delete {
    margin-left: auto;
    margin-right: auto;
    background-color: #fdc;
    padding: 0.2rem;
    border-radius: 0.2rem;
    font-size: 1.2rem;
    font-family: 'Ubuntu';
}

.transaction_view_delete_button {
    float: right;
    border: black solid thin;
    border-radius: 0.2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: red;
    color: white;
}

.new_transaction_bundle_amount_field {
    width: 3rem;
    text-align: right;
}

.new_transaction_total_field {
}

.wide_button {
    color: white;
    background-color: #1f9d55;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .12), 0 2px 4px 0 rgba(0, 0, 0, .08);
    padding-top: .5rem;
    padding-bottom: .5rem;
    font-weight: 700;
    border-radius: .25rem;
    cursor: pointer;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
}

.wide_button:hover {
    background-color: #25bd64
}

.border_on_focus {
    border: 0.2rem solid rgba(0, 0, 0, 0);
}
.border_on_focus:focus {
    border: 0.2rem solid blue;
}

.text_center {
    text-align: center;
}

.transaction_entry {
    margin-bottom: 0.3rem;
    border-bottom: #000000 dotted thin;
}

.transaction_entry_item_name {
}

.transaction_entry_item_price {
    float: right;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.debug_banner {
    background-image: repeating-linear-gradient(30deg, yellow, yellow 13px, #666 15px, #666 43px, yellow 45px, yellow 60px);
    font-weight: bold;
    color: red;
}

/* Hide the spin box for number fields */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.code_box {
    font-family: 'Ubuntu Mono', monospace;
    border: solid grey;
}

.lds-heart {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
    transform: rotate(45deg);
    transform-origin: 32px 32px;
}
.lds-heart div {
    top: 23px;
    left: 19px;
    position: absolute;
    width: 26px;
    height: 26px;
    background: #000;
    animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.lds-heart div:after,
.lds-heart div:before {
    content: " ";
    position: absolute;
    display: block;
    width: 26px;
    height: 26px;
    background: #000;
}
.lds-heart div:before {
    left: -17px;
    border-radius: 50% 0 0 50%;
}
.lds-heart div:after {
    top: -17px;
    border-radius: 50% 50% 0 0;
}
@keyframes lds-heart {
    0% {
        transform: scale(0.95);
    }
    5% {
        transform: scale(1.1);
    }
    39% {
        transform: scale(0.85);
    }
    45% {
        transform: scale(1);
    }
    60% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(0.9);
    }
}
