.inventory_page {}

.inventory_page > table {
	margin: auto;
}

.inventory_page > table > td > h1 {
	font-size: 2rem;
	margin-left: 0.2em;
	margin-top: 0.4rem;
	margin-bottom: 0.2rem;
}

.inventory_page > table > tr:nth-child(even) {
	background-color: #dddddd;
}

.inventory_page > table > tr > td {
	border: 1px solid #dddddd;
	padding: 0.25em;
}

.inventory_page_input {
	background: inherit;
}

.inventory_page_save_button {
	background: url(/images/floppy.svg);
}

.inventory_page_delete_button {
	background: url(/images/trash.svg);
}

.inventory_page_save_button, .inventory_page_delete_button {
	width: 1em;
	height: 1.3em;
	margin-left: 0.2em;
	margin-right: 0.2em;
	background-size: contain;
	background-repeat: no-repeat;
}

.inventory_page_save_button:disabled {
	opacity: 0.0;
	cursor: inherit;
}
